* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* light */
  --Very-Light-Gray: #fafafa;
  --All-White: #ffffff;
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);

  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

  --Light-theme-img: url("imgs/bg-desktop-light.jpg");
  --moon-theme-icon: url("imgs/icon-moon.svg");
  /* dark theme */

  --Very-Dark-Blue: #181824;
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue--hover-: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
  --All-dark: #25273c;

  --Dark-theme-img: url("imgs/bg-desktop-dark.jpg");
  --sun-theme-icon: url("imgs/icon-sun.svg");
}

.light {
  --bg: var(--Very-Light-Gray);
  --text: var(--Very-Dark-Grayish-Blue);
  --bg-img: var(--Light-theme-img);
  --theme-icon: var(--moon-theme-icon);
  --Todo-item-background: var(--All-White);
}

.dark {
  --bg: var(--Very-Dark-Blue);
  --text: var(--Light-Grayish-Blue);

  --bg-img: var(--Dark-theme-img);
  --theme-icon: var(--sun-theme-icon);
  --Todo-item-background: var(--All-dark);
}

html {
  font-size: 62.5%;
}

body {
  /* width: 1440px; */
  margin: auto;
  color: var(--text);

  font-size: 1.6rem;
  outline: 1px solid var(--text);
  height: 100vh;

  font-family: "Josefin Sans", sans-serif;
  transition: background 300ms ease-in-out, color 1000ms ease-in-out;
}

main {
  background-color: var(--bg);
  background-image: var(--bg-img);
  background-position: top center;
  background-size: 1440px 300px;
  background-repeat: no-repeat;
  height: 100%;
}

main header {
  width: 500px;
  height: 100px;

  display: flex;
  justify-content: space-between;
  margin: auto;

  padding-top: 100px;
  align-items: center;
}

main header h1 {
  font-weight: 700;
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--Very-Light-Gray);
  letter-spacing: 7px;
}

main header button {
  width: 35px;
  height: 50px;
  border-radius: 50%;
  background-image: var(--theme-icon);
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}

.todo--wrapper {
  width: 500px;
  margin: 70px auto 0 auto;
  background-color: var(--Todo-item-background);
  height: 50px;
  border-radius: 30%;
  position: relative;
}

.todo--checkbox-wrapper {
  width: 50px;
  height: 50px;
  position: absolute;
}

.todo--checkbox {
  width: 20px;
  height: 20px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* content: url(./imgs/icon-check.svg); */
  /* background-image: url(./imgs/icon-check.svg), linear-gradient(150deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%)); */
  background-repeat: no-repeat;
  background-position: center center;
  border-image: url(./imgs/bg-desktop-light.jpg);
  
  border-radius: 50px;

  /* not done */
}

.todo--unchechbox {
  width: 20px;
  height: 20px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* content: url(./imgs/icon-check.svg); */
  background-image: url(./imgs/icon-check.svg), linear-gradient(150deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-repeat: no-repeat;
  background-position: center center;

  border-radius: 50px;

  /* not done */
}

input[type="checkbox"] {
}

.todo--input-checkbox {
  margin-top: 15px;
  margin-left: 15px;
}

.todo--list-checkbox {
  margin-top: 2px;
  margin-left: 15px;
}

.todo--checkmark {
}

.todo--wrapper .todo-input {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 70px;
  background-color: var(--Todo-item-background);
}

.todos--todo-list {
  background-color: var(--Todo-item-background);
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin: 2px 0;
  align-items: center;
  max-width: 500px;
}

.todo--todo-item {
  /* background-color: rgb(131, 107, 107); */
  max-width: 400px;
  overflow: auto;
}

.todo--btn-closed {
  border: none;
  width: 50px;
  height: 50px;
  background-image: url(./imgs/icon-cross.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
