* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* light */
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

  --Light-theme-img: url("imgs/bg-desktop-light.jpg");

  /* dark theme */

  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue--hover-: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);

  --Dark-theme-img: url("imgs/bg-desktop-dark.jpg");
}

body {
  color: var(--text);
  background: var(--bg);
  height: 100vh;
  background-image: var(--bg-img);
  background-position: top center;
  background-size: 1440px 300px;
  font-size: 16px;
  background-repeat: no-repeat;
}

.light {
  --bg: var(--Very-Light-Gray);
  --text: var(--Very-Dark-Grayish-Blue);
  --bg-img: var(--Light-theme-img);
}

.dark {
  --bg: var(--Very-Dark-Blue);
  --text: var(--Light-Grayish-Blue);
  --bg-img: var(--Dark-theme-img);
}

main {
  height: 100%;
  
}

main header {
  
  width: 700px;
  height: 50px;
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

main header button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.todo--wrapper {
  width: 700px;
  margin: 70px auto 0 auto;
  background-color: var(--Very-Light-Gray);
  height: 50px;
  
}

.todo--wrapper button {
  width: 50px;
  height: 50px;
  border-radius: 50%;

}

.todo--btn-wrapper {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: absolute;
}


.todo--wrapper input {
  width: 95%;
  height: 100%;
  border: none;
  
}

